# Read dataset

In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [116]:
df = pd.read_csv('./dataset/newsdata.csv')

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692 entries, 0 to 2691
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Article   2692 non-null   object
 1   Date      2692 non-null   object
 2   Heading   2692 non-null   object
 3   NewsType  2692 non-null   object
dtypes: object(4)
memory usage: 84.2+ KB

In [118]:
df['NewsType'].value_counts()

sports      1408
business    1284
Name: NewsType, dtype: int64

In [119]:
target_category = df['NewsType'].unique()
print(target_category)

['business' 'sports']

In [120]:
df['CategoryId'] = df['NewsType'].factorize()[0]
df.head()

,Article,Date,Heading,NewsType,CategoryId
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,0
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,0
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,0
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,0
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,0

In [121]:
category = df[['NewsType', 'CategoryId']].drop_duplicates().sort_values('CategoryId')
category

      NewsType  CategoryId
0     business           0
1021    sports           1

In [123]:
print(df)

                                                Article       Date  \
0     KARACHI: The Sindh government has decided to b...   1/1/2015
1     HONG KONG: Asian markets started 2015 on an up...   1/2/2015
2     HONG KONG:  Hong Kong shares opened 0.66 perce...   1/5/2015
3     HONG KONG: Asian markets tumbled Tuesday follo...   1/6/2015
4     NEW YORK: US oil prices Monday slipped below $...   1/6/2015
...                                                 ...        ...
2687  strong>DUBAI: Dubai International Airport and ...  3/25/2017
2688  strong>BEIJING: Former Prime Minister, Shaukat...  3/26/2017
2689  strong>WASHINGTON: Uber has grounded its fleet...  3/26/2017
2690  strong>BEIJING: The New Development Bank plans...  3/27/2017
2691  strong>KARACHI: Karachi-based technology incub...  3/27/2017

                                                Heading  NewsType  CategoryId
0     sindh govt decides to cut public transport far...  business           0
1                       asia stocks up in new year trad  business           0
2              hong kong stocks open 0.66 percent lower  business           0
3                asian stocks sink euro near nine year   business           0
4                    us oil prices slip below 50 a barr  business           0
...                                                 ...       ...         ...
2687    Laptop ban hits Dubai for 11m weekend traveller  business           0
2688  Pak China relations not against any third coun...  business           0
2689         Uber grounds self driving cars after accid  business           0
2690  New Development Bank plans joint investments i...  business           0
2691  Google powered Startup Weekend energizing prou...  business           0

[2692 rows x 5 columns]

In [124]:
x = df['Heading']
y = df['CategoryId']

In [125]:
x = np.array(df.iloc[:,0].values)
y = np.array(df.CategoryId.values)
cv = CountVectorizer(max_features = 5000)
x = cv.fit_transform(df.Heading).toarray()
print("X.shape = ",x.shape)
print("y.shape = ",y.shape)

X.shape =  (2692, 4959)
y.shape =  (2692,)

In [126]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0, shuffle = True)
print(len(x_train))
print(len(x_test))

1884
808

In [127]:
clf = LogisticRegression(max_iter=1200)

In [128]:
clf.fit(x_train, y_train)

LogisticRegression(max_iter=1200)

In [129]:
y_pred=clf.predict(x_test)

In [130]:
print("Accuracy", metrics.accuracy_score(y_test, y_pred))

Accuracy 0.9579207920792079